doctype html
head 
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
        title Ejercicio
body
    .container.mt-3
      h1.header.mt-3 Ingrese Datos
      form(action='/products' method='post')
        .form-group
          label(for='title')
            b Nombre
          input#title.form-control(type='text' name='title')
        .form-group
          label(for='price')
            b Precio
          input#price.form-control(type='text' name='price')
        .form-group
          label(for='image')
            b Imagen
          input#image.form-control(type='text' name='thumbnail')
        button.btn.btn-primary.mt-3.mb-5 Enviar
      a.btn.btn-primary.mt-3(href='/products')
        p(style='color: white;') Ver productos

