html
  head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
        title Ejercicio
  body
    if products.length > 0
        .table-responsive
        table.table.table-dark
            tbody
                tr
                    th Nombre
                    th Precio
                    th Imagen
                tr
            each product in products
        
                    tr
                        td=product.title
                        td=product.price
                        td
                            img.img-responsive(src=product.thumbnail alt=product.name)
    else
        h3.alert.alert-danger no se encontraron productos
    a(href="/" class="btn btn-primary mt-3")
        p(style="color:white") Volver a formulario  