<%- include('./header')-%>
<body>
    <h2 class="title">Error en el formato del producto, no deje ningun campo en blanco e ingrese un valor númerico al precio</h2>
    <a class="btn btn-primary" href="/">Volver al formulario</a>
</body>
</html>